{% extends "base.html" %}

{% block title %} {{ block.super }} | {{ post.title }} {% endblock title %}

{% block content %}
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<h1>{{ post.title }}</h1>
		{% if post.image %}
			<img src="{{ post.image.url }}" class='img-responsive'>
		{% endif %}
		<hr/>
		<p>{{ post.content }}</p>
		<p>Created: {{ post.timestamp|timesince }} ago</p>
		<a class="btn btn-default" href="{% url 'posts:delete' slug=post.slug %}">Delete</a>
		<a class="btn btn-default" href="{% url 'posts:update' slug=post.slug %}">Edit</a>
	</div>
{% endblock content %}