{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} | {{ post.title }} {% endblock title %}

{% block content %}
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<h1>{{ post.title }} {{ year }}</h1>
		<hr/>
		<p class="lead">Posted by {{ post.user }}</p>
		<hr/>
		{% if post.image %}
			<img src="{{ post.image.url }}" class='img-responsive'>
		{% endif %}
		<hr/>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
			<i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
			</a>
			<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
			<i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
			</a>
			<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
			<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
			<i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
			</a>
			<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">
			<i class="fa fa-reddit fa-3x" aria-hidden="true"></i>	
			</a>
			<a data-pin-do="buttonBookmark" href="//www.pinterest.com/pin/create/button/">/>
			</a>
		<hr/>
		<p>{{ post.content }}</p>
		<p>Created: {{ post.timestamp|timesince }} ago</p>
		<hr/>
		    <div>
		        <p class='lead'>Comments</p>
		        <form method="POST" action="">{% csrf_token %}
		        	{{ comment_form|crispy }}
		        	<input type="submit" value="Comment" class="btn btn-default">
		        </form>
		        {% for comment in comments %}

		        	{% if comment.is_parent %}
		            <blockquote class="text-left">
			          <p>{{ comment.content }}</p>
			          <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago</footer>
			          <hr/>
			          <form method="POST" action=".">
						{% csrf_token %}
						<input type="hidden" name="parent_id" value="{{ comment.id }}">
						{{ comment_form|crispy }}
						<input class="btn btn-default" type="submit" value="Reply">
					  </form>
					  <hr/>
			          {% if comment.get_children %}
				  	  {% for child in comment.get_children %}	
					  <blockquote>
					  <p>{{ child.content }}</p>
					  <footer>Via: <cite title="Source Title">{{ child.user }} | {{ child.timestamp|timesince }} ago</cite></footer>
					  </blockquote>
					{% endfor %}
					{% endif %}
			        </blockquote>
			        {% endif %}

		        {% endfor %}
		    </div>
		    <hr/>
		<a class="btn btn-default" href="{% url 'posts:delete' slug=post.slug  %}">Delete</a>
		<a class="btn btn-default" href="{% url 'posts:update' slug=post.slug  %}">Edit</a>


		
	</div>
{% endblock content %}