{% extends "base.html" %}

{% block title %} {{ block.super }} | Posts {% endblock title %}

{% block content %}
	<div class="col-sm-4 col-sm-offset-4">
	<h2>Recent Posts</h2>
	<hr/>
	{% for post in posts %}
		<div class="thumbnail text-center">
		<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small> {{ post.timestamp|timesince }} ago</small></h3>
		{% if post.image %}
		<img src="{{ post.image.url }}" class='img-responsive'>
		<hr/>
		{% endif %}
		<p>{{ post.content }}</p>
		<hr style="margin:2px;"/>
		<a class="btn btn-default" href="{{ post.get_absolute_url }}">View</a>
		</div>
	{% endfor %}
	

	<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?{{ page_request_var }}={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?{{ page_request_var }}={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
	</div>

	</div>

{% endblock content %}	
